
.display-1{
    font-weight: bold;
  }
  .nav-item{
    font-style: italic;
  }
  .nav-item:hover{
    border-bottom: 3px solid #fff;
  }
  
  .navbar-brand{
    font-weight: bold;
  }
  img{
    border-radius: 2px;
  }
  
  body {
    background-color: #2d2d2e;
    color: #212529;
  }
  .navbar,
  .footer {
    background-color: #343a40;
  }
  .navbar-brand,
  .nav-link {
    color: #ffffff !important;
  }
  .post-title {
    color: #ffc107;
  }
  .footer {
    padding: 10px 0;
    color: #ffffff;
  }
  
  .content-section h1 {
    color: #007bff;
  }
  .card-header {
    background-color: #007bff;
    color: #ffffff;
  }
  .card-body {
    background-color: #ffffff;
    color: #212529;
    /* added this */
    line-height: 30px;
  }
  .sidebar {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

@media(width <= 768px){
    *{
      overflow-x: hidden;
    }
    h1{
      font-size: 30px;
    }
   img{
    border-radius: 5px;
   }
 
}